<div class="row" style="margin-bottom:10px">
  <div class="col-lg-6 col-md-3 col-sm-2 text-left"><%= f.text_field :name, class:"form-control" %></div>
  <div class="col-lg-2 visible-lg-block text-left"><%= f.text_field :amount, class:"form-control" %></div>
  <div class="col-lg-2 col-md-3 col-sm-3 text-left"><p id="tax"></p> </div>
  <div class="col-lg-2 col-md-3 col-sm-3 text-left"><p id="amount"></p> </div>
</div>